html {
  font-size: 16px;
}

body {
  background-color: #393e46;
  color: #4ecca3;
  font-family: 'Indie Flower', cursive;
}

.result {
  font-family: 'Lobster', cursive;
  font-size: 8rem;
}

.player-label {
  font-size: 2rem;
}

.die-image {
  width: 200px;
}

footer {
  color: #eeeeee;
  text-align: center;
}
