body {
  background-color: #393e46;
  font-size: 16px;
}

h1 {
  color: #4ecca3;
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  margin: 3% 10% 5%;
  text-align: center;
}

h2 {
  color: #4ecca3;
  font-family: 'Indie Flower', cursive;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.dice-row {
  margin: 3rem 15%;
}

.player-col {
  text-align: center;
}

.dice {
  width: 200px;
}

footer {
  color: #eeeeee;
  font-family: 'Indie Flower', cursive;
  font-size: 1rem;
  text-align: center;
}
